*{
    margin: 0;
    padding: 0;
}

:root{
    --navbar-height:51px;
}

#navbar   /*style specification for navbar*/  
{
    display: flex;  /* alignning the content as flex*/
    align-items: center; /*align the contents to center*/
    background-color: lightgoldenrodyellow;
    position: fixed; /*fixing the position of the navbar*/
    top: 0px;
    left:0px;
    right:0px;
    
 }


 #logo  /*style specification for logo*/  
 {
    
     margin: 0px 0px; /*adjust the margin of logo*/
     height: 1px 1px; /*adjust the height of the logo*/
      
 }
 #logo img  /*style specification for logo img*/  
 {
     /*adjust the height width and margin of logo image*/
      height: 1px 1px; 
      width: 10%;
      margin: 2px 2px;
 }
 #navbar ul  /*style specification for navbar ul*/  
  {
     display:flex ; /* alignning the content as flex*/
  }


 
  #navbar ul li   /*style specification for navbar ul li*/  
  {
      list-style: none; /*making no decoration to list*/
      font-size: 1rem; /*set the font size*/
  }

  
#navbar ul li a   /*style specification for navbar ul li a*/  
  {
    
      display: block;
      padding: 3px 20px;
      border-radius: 20px;
      text-decoration: none;
      
  }

#navbar ul li a:hover  /*style specification for navbar ul li after  cursor hovering*/  
  {
      color:darkgoldenrod;
      background-color:whitesmoke;
      
  }



  #home   /*style specification for home section*/  
  {
      display: flex;
      color:rgb(3, 91, 91);
      padding: 50px 70px;
      align-items: center;
      justify-content: center;
      background: url(homebg1.jpeg);
        margin: 20px 80px;
      font-family: 'Roboto Condensed', sans-serif;
  }
  

 
   

.row   /*style specification for row*/  
{
  display: flex;
}

.column /*style specification for column*/  
{
  flex: 33%;
  padding: 5px;
  
}



.column img /*style specification for column image*/  
{
    height: 70px 70px;
    width: 65%;
    margin: 15px 80px;
    overflow-x: hidden;
    
  
}
  

figcaption /*style specification for figcaption*/  
{
  
  color: darksalmon;
  text-align:  center;
  font-family: 'Bebas Neue', cursive;
  align-items: center;
  font-size: 130%;
  
}

figcaption ul li /*style specification for figcaption ul li*/  
{
  
  list-style-type: none;
  
}


#front /*style specification for front section*/  
  {
     
      color:darkslategray;
     
      display: flex;
     flex-direction: column;
     padding: 3px 20px;
      justify-content: center;
      align-items: center;
     
     background: url(front4.jpg);
      
      height: 500px;
     
        
      font-family: 'Roboto Condensed', sans-serif;
  }


  #middle  /*style specification for middle section*/  
  {
     
      color:darkslategray;
     
      display: flex;
     flex-direction: column;
     padding: 3px 20px;
      justify-content: center;
      align-items: center;
     
     background: url(homebg2.jpg);
      
      height: 200px;
     
        
      font-family: 'Roboto Condensed', sans-serif;
  }

  
#ending  /*style specification for ending section*/  
{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Playfair Display', serif;
      font-size: 120%;
      color:black ;
}


 #outro  /*style specification for outro section*/  
{
      font-family: 'Playfair Display', serif;
      font-size:25px;
      color:black ;
      background-color: lightgoldenrodyellow;
      font-family: 'Oswald', sans-serif;
}    
      
      
    

#outro ul li  /*style specification for outro ul li section*/  
{
  font-size: 15px;
  list-style: none;
}

.claim /*style specification for claim division*/  
{
   font-size: 15px;
  
}

#summary  /*style specification for summary section*/  
{ 
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Playfair Display', serif;
      font-size:35px;
      color:black ;
      font-family: 'Oswald', sans-serif;
}

.p-heading /*style specification for p-heading division*/  
{
  align-items: center;
  
  color: gray;
  font-family: 'Playfair Display', serif;
  font-size: 70px;

}

.p-primary /*style specification for p-primary division*/
{
   margin-left:10%;
  color: gray;
  font-family: 'Playfair Display', serif;
  font-size: 70px;
}

.p-prim  /*style specification for p-prim division*/
{
  
      display: flex;
      margin-left:53%;
      margin-right:5%;
      color: gray;
     font-family: 'Playfair Display', serif;
     font-size: 70px;
}  
  


.p-secondary  /*style specification for p-secondary division*/
{
  margin-left:5%;
  margin-right:5%;
  color:salmon;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}


.p-third  /*style specification for p-third  division*/
{

     display: flex;
      color:rgb(3, 91, 91);
      margin-left:5%;
      margin-right:50%;
      
      font-family: 'Roboto Condensed', sans-serif;
}
  

.p-fourth /*style specification for p-fourth division*/
{

     display: flex;
      color:rgb(3, 91, 91);
      margin-left:50%;
      margin-right:5%;
      
      font-family: 'Roboto Condensed', sans-serif;
}
  



